$primary-bg: #121212;
$secondary-bg: #1e1e1ebb;

$odd-row-bg: #12121255;
$even-row-bg: #2e2e2e44;
$hover-row-bg: #11111199;

$primary-text: #ffffff;
$secondary-text: #b3b3b3;

$border: #292929;

$primary-btn: #1f1f1f;
$primary-btn-hover: #2c2c2c;
$default-btn: #ffffff;
$default-btn-hover: #e0e0e0;

$general: #6060ff;
$success: #03dac6;
$error: #cf6679;
