@use 'colors' as colors;
@use 'typography' as typography;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: colors.$primary-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: typography.$heading-1;
}

h2 {
  font-size: typography.$heading-2;
}

p {
  font-size: typography.$regular-text;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
span,
p,
label,
a {
  color: colors.$primary-text;
  font-family: 'Roboto Light', 'Roboto', sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
